body{
    background: linear-gradient(#FF4040, #FF6040);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}


ul{
    list-style: none;
}

a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

li{
    margin-top: 20px;
    padding: 10px;

}


.home{
    margin: 10px;
}

a:hover{
    color: #DADADA;
    text-decoration: none;
}