*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
}


div.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: sans-serif;
    font-size: 0.5em;
    text-align: center;
    
}


h2 {

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

}